body {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.main {
    background-color: blanchedalmond;
    width: fit-content;
    height: fit-content;
    padding: 20px;
}

#text {
    font-size: 32px;
    padding: 15px;
    color: rgb(40, 22, 243);
}